<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="row">
  <div class="top-buffer"></div>
  <div class="col-sm-6">
    <div class="box">
      <h3>A Fantastic Home Dinner Service</h3>
      <hr>
      <p>Welcome to the most sophisticated dinner service on the internet. Believe us. It's true. We make the best dinner services of all, it's absolutely terrific.</p>
      <div class="top-buffer"></div>
      <p>Click on the button to start exploring</p>
      <a href="#!/search" class="btn btn-primary">Create new dinner</a>
    </div>
  </div>
</div>
