<!-- this template is for avoiding repeating the upper sidebar of view5 and view 6 -->
			<div class="row" style=" background-color: rgba(245, 245, 245, 0.8); border-bottom: 1px solid black">
				<div class="col-sm-8 col-xs-8">
					<h2 id="amountOfPeople">
						<!-- Generated heading of amount of people goes here-->
            My Dinner: {{getNumberOfGuests()}} people
					</h2>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a id="backToEditDinnerView6" class="btn pull-right" ng-href="#!/search" type="button" style="margin:40px; box-shadow: none;"><span>Go back and edit dinner</span></a>
				</div>
			</div>